.container {
    width: 300px;
    height: 500px;
    background-color: red;
}

.top-display {
    width: inherit;
    height: 60px;
}

.display {
    width: inherit;
    height: 200px;
}

.buttons {
    display: grid;
    grid-template-areas: "cloud clear clear multiply"
                        "seven eight nine divide"
                        "four five six subtract"
                        "one two three add"
                        "zero period equal equal"
    
    ;
}

.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}
.zero {
    grid-area: zero;
}
.multiply {
    grid-area: multiply;
}
.divide {
    grid-area: divide;
}
.subtract {
    grid-area: subtract;
}
.add {
    grid-area: add;
}
.clear {
    grid-area: clear;
}
.cloud {
    grid-area: cloud;
}
.equal {
    grid-area: equal;
}